<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/tstyle.css">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>
<body>
  <header>
    <div class="logo">
      <img
        src="https://cdn.discordapp.com/attachments/882362353507778613/975983795847172156/logo2-01-removebg-preview.png"
        alt="logo">
    </div>
  
    <a href="">Sign in</a>
  </header>

    <table class="table table-striped">
        <thead>
          <th>ID</th>
          <th>Cohort</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Date</th>
        </thead>
        <tbody>
        <% 
          if(trainees.length){
          
          for(var i = 0; i< trainees.length; i++) {
        %> 
          <tr>
            <td><%= trainees[i].id %></td>
            <td><%= trainees[i].cohort %></td>
            <td><%= trainees[i].firstNm %></td>
            <td><%= trainees[i].lastNm %></td>
            <td><%= trainees[i].date_joined.toLocaleDateString() %></td>
          </tr>
        <% } 
        }else { %>
            <tr>
              <td colspan="3">No Records Found</td>
            </tr>
        <% } %>
        </tbody>
      </table>

      <footer>
        <section>
          <div class="one">
            <h1>Caf Info</h1><br>
            <a href="#">About the caf</a>
            <a href="#">Menu</a>
            <a href="#">Food Quality</a>
            <a href="#">News & Press</a>
          </div>

          <div class="two">
            <h1>My Caf</h1><br>
            <a href="#">Caf app</a>
            <a href="#">Gift cards</a>
            <a href="#">Reload card</a>
            <a href="#">Check card balance</a>
          </div>

          <div class="three">
            <h1>Careers</h1><br>
            <a href="#">Careers home</a>
            <a href="#">Opportunities</a>
            <a href="#">Apply</a>
          </div>

          <div class="four">
            <h1>Caf cares</h1><br>
            <a href="#">Nutrition Explorer</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Caf foundation</a>
            <a href="#">Diversity</a>
          </div>
        </section>

        <a href="#">ad</a>
      </footer>
</body>
</html>