<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <table>
      <thead>
        <th>Lunch ID</th>
        <th>Meal Id</th>
        <th>Trainee ID</th>
        <th>Date</th>
      </thead>
      <tbody>
      <% 
        if(orders.length){
        
        for(var i = 0; i< orders.length; i++) {
      %> 
        <tr>
          <td><%= order[i].id %></td>
          <td><%= order[i].meal_option_id %></td>
          <td><%= order[i].trainee_id %></td>
          <td><%= order[i].date.toLocaleDateString() %></td>
        </tr>
      <% } 
      }else { %>
          <tr>
            <td colspan="3">No Records Found</td>
          </tr>
      <% } %>
      </tbody>
    </table>
  </body>
</html>