<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <table>
      <thead>
        <th>Meal Id</th>
       <th>Meal Options</th>
      </thead>
      <tbody>
      <% 
        if(meals.length){
        
        for(var i = 0; i< meals.length; i++) {
      %> 
        <tr>
          <td><%= meals[i].id %></td>
          <!-- <td><%= meals[i].meal_category_id %></td> -->
          <td><%= meals[i].option_name %></td>
        </tr>
      <% } 
      }else { %>
          <tr>
            <td colspan="3">No Records Found</td>
          </tr>
      <% } %>
      </tbody>
    </table>
  </body>
</html>