<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="meals_container">
      <h1>Trainee Name: <%= firstNm %> <%= lastNm %></h1>
      <p>Welcome to the <%= title %></p><br><br>
    
    <form action="/meals/add" method="post" class="meals_form">
      <div class="meals_form_inputs">
        <input type="text" name="trainee_id" value="Trainee ID: <%= id %>">
        <input type="text" name="date" id="orderdate" value="<%= date %>" >
      </div>
      <% 
        if(meals.length){
        
        for(var i = 0; i< meals.length; i++) {
      %> 
        <div class="meal">
          <input type="radio" id="check1" name="meal_option" value="<%= meals[i].option_name %>">
          <label for="check1"><%= meals[i].option_name %>: </label>
          <p><%= meals[i].meal_description %></p>
        </div>
                
      <% } 
      }else { %>
          <tr>
            <td colspan="3">No Records Found</td>
          </tr>
      <% } %>
      <button type="submit">Submit</button>
    </form>

    <table>
      <th>
        <tr>
          <th></th>
        </tr>
      </th>
    </table>
  </div>
  
    </div>
  </body>
</html>